version: 2.1

jobs:
  build:
    docker:
      - image: cimg/android:2024.09
    resource_class: large
    environment:
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.jvmargs='-Xmx2048m -Dfile.encoding=UTF-8'"
    steps:
      - checkout

      - run:
          name: Accept Android SDK licenses
          command: |
            set +o pipefail
            yes | sdkmanager --licenses

      - run:
          name: Install Android build tools + platform
          command: |
            sdkmanager "platform-tools" \
                       "platforms;android-35" \
                       "build-tools;35.0.0" || true

      - restore_cache:
          keys:
            - v1-gradle-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
            - v1-gradle-

      - run:
          name: Make Gradle wrapper executable
          command: chmod +x ./gradlew

      - run:
          name: Build Debug APK (no tests)
          command: ./gradlew clean assembleDebug --stacktrace --no-daemon

      - save_cache:
          key: v1-gradle-{{ checksum "gradle/wrapper/gradle-wrapper.properties" }}
          paths:
            - ~/.gradle/caches
            - ~/.gradle/wrapper

      - store_artifacts:
          path: app/build/outputs/apk/debug
          destination: apk

workflows:
  version: 2
  build_only:
    jobs:
      - build
