version: 2.1

executors:
  android:
    docker:
      - image: cimg/android:2024.01

jobs:
  build_and_test:
    executor: android
    steps:
      - checkout
      - run: ./gradlew --no-daemon clean assembleDebug
      - run: ./gradlew --no-daemon testDebugUnitTest

workflows:
  build:
    jobs:
      - build_and_test
